<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monk.customer.service.dal.FactoryMapper">

	<resultMap id="FactoryResultMap" type="FactoryEntity" >
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="upate_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="client_id" property="client.id" jdbcType="BIGINT" />
		<result column="client_name" property="client.name" jdbcType="VARCHAR" />
		<result column="client_username" property="client.username" jdbcType="VARCHAR" />
		<result column="client_email" property="client.email" jdbcType="VARCHAR" />
		<result column="client_telephone" property="client.telephone" jdbcType="VARCHAR" />
	 </resultMap>

	<!-- insert -->
	<insert id="insert" parameterType="FactoryEntity"
		keyProperty="id" useGeneratedKeys="true">
	<![CDATA[
		INSERT INTO factory (
		name,status,create_time,upate_time,client_id)VALUES(
		#{name,jdbcType=VARCHAR},
		#{status,jdbcType=TINYINT},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
		#{client.id,jdbcType=INTEGER}
		)
	]]>
	</insert>

	<!-- update -->
	<update id="update" parameterType="FactoryEntity">
	<![CDATA[
		UPDATE
		factory 
		SET
		 id=#{id}
		 ]]>
		  <if test="null != name">
			<![CDATA[
		,name = #{name}
			]]>
		</if>
		 <if test="null != status">
			<![CDATA[
		,status = #{status}
			]]>
		</if>
		
		
		
		 <if test="null != client.id">
			<![CDATA[
		,client_id = #{client.id}
			]]>
		</if>
			<choose>  
            <when test="updateTime !=null ">  
                <![CDATA[
					,update_time = #{updateTime}
				]]>
            </when >
		  <otherwise> 
		  	 <![CDATA[
					,update_time = now()
				]]> 
            </otherwise>  
         </choose>
		
		
		<![CDATA[
		WHERE  id = #{id} 
			]]>
	</update>

	<!-- delete -->
	<delete id="delete" parameterType="Long">
	<![CDATA[
		DELETE FROM factory WHERE id = #{id}
	]]>
	</delete>
	
	<sql id="column_List" >
   	 a.id,a.name,a.status,a.create_time,a.upate_time,a.client_id
  	</sql>
	
	<!-- select detail -->
	<select id="get" parameterType="java.lang.Long" resultMap="FactoryResultMap">
		SELECT 
		<include refid="column_List" /> 
		, b.name client_name, b.username client_username, b.email client_email, b.telephone client_telephone
		from   factory a left join user b on a.client_id = b.id
		where  a.id = #{id}
	</select>
	
	<!-- list -->
	<select id="findByExample" resultMap="FactoryResultMap"	parameterType="FactoryEntityExample">
	SELECT 
		<include refid="column_List" /> 
		, b.name client_name, b.username client_username, b.email client_email, b.telephone client_telephone
		from   factory a left join user b on a.client_id = b.id
	 	 <if test="_parameter != null" >
	     	 <include refid="BaseMapper.Example_Where_Clause" />
	        <include refid="BaseMapper.Example_Order_Clause" />
			<include refid="BaseMapper.Example_Limit_Clause" />
	       
	    </if>
	</select>
	
	<select id="countByExample" resultType="Integer"	parameterType="FactoryEntityExample">
		SELECT 	count(*)
		from   factory a left join user b on a.client_id = b.id
		 	 <if test="_parameter != null" >
		     	 <include refid="BaseMapper.Example_Where_Clause" />
		    </if>
	</select>
</mapper>
